<%= form_for(@profile, :html => { :class => "form-horizontal"} ) do |f| %>
  <legend>Profiles</legend>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :active, :class => "control-label" %>
    <div class="controls">
    <%= f.check_box :active %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :github_profile, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :github_profile %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :major, :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :major %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skills, :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon icon-tags"></i></span><%= f.text_field :skills, :placeholder => "c, c++, ruby, etc...", :class => "input-xxlarge" %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Active Projects", :class => "control-label" %>
    <div class="controls">
    <% if @projects.length > 0 %>
      <% @projects.each do |project| %>
         <%= label_tag :project_ids, :class => "checkbox" do %>
         <%= check_box_tag :project_ids, project.id, @profile.projects.include?(project), :name => "profile[project_ids][]" %>
         <%= project.title %>
         <% end %>
      <% end %>
    <% else %>
      <p style="padding-top: 5px;">
        <span class="label label-warning"><i class="icon-white icon-warning-sign"></i> No Projects</span> Create a <%= link_to "project", new_project_path %> now.
      </p>
    <% end %>
    </div>
  </div>
  <div class="form-actions">
    <% btn_submit_name = "Submit" %>
    <% btn_submit_name = "Save Changes" if @profile.id %>
    <%= f.submit btn_submit_name, :class => "btn btn-primary"%>
    <%= button_tag "Cancel", :class => "btn" %>
  </div>
<% end %>
