<p id="notice"><%= notice %></p>


<div class="span12">
  <div class="row">
    <div class="span1"><%= image_tag avatar_url(@profile), :class => "thumbnail" %></div>
    <div class="span11">
      <h3><%= @profile.full_name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Major</dt>
        <dd><%= @profile.major %></dd>
        
        <dt>Active</dt>
        <dd>
        <% if @profile.active %>
            <i class="icon-ok"></i>
        <% end %>
        </dd>
    
        <dt>Github</dt>
        <dd><%= link_to_github(@profile.github_profile) %></dd>
      </dl>
    </div>
    <div class="span6">
      <strong><p>Skills</p></strong>
      <% if @profile.skill_tags.length %>
        <% @profile.skill_tags.each do |skill| %>
          <span class="label label-info" style="line-height:25px"><%= skill %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h3>Projects</h3>
      
    </div>

  </div>


</div>



<% if @profile.profile_claim %>
  <p>
    Profile has a request out to be claimed by <%= @profile.profile_claim.email %> - <%= link_to 'Destroy', [@profile, @profile.profile_claim], confirm: 'Are you sure?', method: :delete %>
  </p>
<% end %>

<% if @profile.user %>
  <p>
    Profile has been claimed by <%= @profile.user.email %> - <%= link_to 'Destroy', @profile.user, confirm: 'Are you sure?', method: :delete %>
  </p>
<% end %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
<%= link_to 'Send Profile Claim', new_profile_profile_claim_path(@profile) unless @profile.profile_claim || @profile.user %>
