<% flash.each do |alert, message| %>
<div class="alert alert-<%= alert.to_s %>">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= message %>
</div>
<% end %>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Member lead:</b>
  <%= @project.member_lead %>
</p>

<p>
  <b>Github repo:</b>
  <%= @project.github_repo %>
</p>

<p>
  <b>Readme file:</b>
  <%= @project.readme_file %>
</p>

<b>Members</b>
<ul>
    <% @project.members.each do |member| %>
        <li><%= member.first_name %></li>
    <% end %>
</ul>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
