<%= form_for(@post, :html => { :class => "form-horizontal"} ) do |f| %>
  <legend>Post</legend>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :author_id %>

  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => "control-label" %>
    <div class="controls">
    
      <div class="btn-group" style="margin-bottom: -9px">
        <span class="btn btn-mini " style="border-radius: 3px 3px 0 0;border-bottom:0">Edit</span>
        <span class="btn btn-mini btn-info" style="border-radius: 3px 3px 0 0;border-bottom:0">Preview</span>
      </div> 
      <%= f.text_area :content, :class => "span7", :style => "border-radius: 0 0 3px" %>
    </div>
  </div>
  
  <div class="form-actions">
    <% btn_submit_name = "Submit" %>
    <% btn_submit_name = "Save Changes" if @post.id %>
    <%= f.submit btn_submit_name, :class => "btn btn-primary"%>
    <%= button_tag "Cancel", :class => "btn" %>
  </div>
<% end %>
