<%= link_to 'New Member', new_member_path, :class => "btn btn-mini btn-primary pull-right" %>
<h3>Members</h3>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th>Github Profile</th>
    <th>Major</th>
    <th>Skills</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.full_name %></td>
    <td><%= member.email %></td>
    <td>
    <% if member.active %>
        <i class="icon-ok"></i>
    <% end %>
    </td>
    <td><%= link_to_github member.github_profile %></td>
    <td><%= member.major %></td>
    <td>
      <% if member.skill_tags.length %>
        <div class="btn-group">
          <a class="btn dropdown-toggle dropdown-hover" data-toggle="dropdown" href="#">
            <%= member.skill_tags.first %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% member.skill_tags.each do |skill| %>
              <li><a><%= skill %></a></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'New Member', new_member_path, :class => "btn btn-mini btn-primary pull-right" %>
