<% flash.each do |alert, message| %>
<div class="alert alert-<%= alert.to_s %>">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= message %>
</div>
<% end %>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Active:</b>
  <%= @member.active %>
</p>

<p>
  <b>Github profile:</b>
  <%= @member.github_profile %>
</p>

<p>
  <b>Major:</b>
  <%= @member.major %>
</p>

<p>
  <b>Skills:</b>
  <% @member.skill_tags.each do |skill| %>
    <span class="label label-info"><%= skill %></span>
  <% end %>
</p>

<p>
  <b>Github access token:</b>
  <%= @member.github_access_token %>
</p>

<p>
  <b>Projects</b>
  <ul>
  <% @member.projects.each do |project| %>
    <li><%=project.title%></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
